<div class="modal-header title" style="background-color: #e7e7e7; max-height: 50px">
  <h5 class="modal-title">Movimentação</h5>
  <span (click)="cancel()" style="cursor: pointer">X</span>
</div>
<div class="container content-modal" *ngIf="!success">
  <form #peopleForm="ngForm" (ngSubmit)="onSubmit()">

    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-success" role="alert" *ngIf="success == true">
          People salvo/atualizado com sucesso
        </div>
        <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
          {{erro}}
        </div>
      </div>
    </div>
    <div class="input-group mb-3 col-md-6" *ngIf="people.id">
      <div class="input-group-prepend">
        <span class="input-group-text">Id</span>
      </div>
      <input type="text" class="form-control" [(ngModel)]="people.id" name="valor" [ngModelOptions]="{standalone: true}" disabled>
    </div>

    <div class="input-group mb-3 col-md-12">
      <div class="input-group-prepend">
        <span class="input-group-text">Nome</span>
      </div>
      <input type="text" class="form-control" [(ngModel)]="people.name" name="name" [ngModelOptions]="{standalone: true}">
    </div>

    <div class="row right">
      <div class="col-md-2">
        <button type="submit" class="btn btn-primary" style="margin-left: 23px" *ngIf="!people?.id">Salvar</button>
        <button type="submit" class="btn btn-success" style="margin-left: 23px" *ngIf="people?.id">Salvar</button>
      </div>

    </div>
  </form>
</div>
<div *ngIf="success" class="alert alert-success" role="alert">
  A movimentação foi salva com sucesso!
</div>

